h1{
    padding-left:300px;
    color: blueviolet;
}
#result{
    font-size: 30px;
	margin-top: 50px;
    text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
